.hero {
    background: #0788ff42;
    padding: 150px 0 0;
    height: 100vh;
    place-content: center;
}

.hero .row {
    align-items: center;
}

.hero .myInfo h1 {
    text-transform: uppercase;
    font-size: 50px;
    line-height: 1;
    margin-bottom: 25px;
    font-weight: 800;
}

.hero .figure {
    width: 35vw;
    text-align: end;
    border-radius: 50%;
    overflow: hidden;
    background: var(--blue);
    height: 35vw;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 50px;
}

.infoBtn a {
    text-transform: uppercase;
}